body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; 
}

/* CSS for header bar */
header {
    background-color: #d0c27a;
    color: black;
    padding: 50px 75px 75px;
    border-radius: 5px;
}

header h1 {
    margin-left: 150px;
    padding: 0px;
}

header::after {
    content: "";
    display: block;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
}

/* CSS for navigation bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    top: 95px;
    left: 1050px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: block;
    background-color: rgb(255, 213, 154);
    padding: 25px 25px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: grey;
}

/* CSS for body paragraph */
section p {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 20px;
    width: 300px; 
    float: left;
    margin-left: 10%; 
    clear: both;
    display: block;
    margin-top: 150px; 
    border-radius: 10px; 
}

section h2 {
    background-color: rgba(211, 211, 211); 
    padding: 20px 100px;
    width: 130px; 
    float: left;
    display: block;
    clear: both;
    margin-left: 250px;
    border-radius: 10px;
}

/* CSS for the Page name */

#Project {
    position: relative;
    height: 150vh; 
    overflow: hidden; 
}

#Project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1;
}



/* With the Help of Chatgpt i was about to resize, adjust, and shape the box to my liking */
.FW-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/Screenshot%202024-04-19%20145419.png');
    background-size: cover; 
    background-position: center; 
    padding: 300px 200px; 
    width: 130px; 
    float: left; 
    margin-top: 150px; 
    margin-right: 50px; 
    border-radius: 10px; 
    text-align: center;
    text-decoration: none; 
    color: white;
    font-size: 50px
}

.FW-box{
    margin-left: -470px;

}

.RPS-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/Screenshot%202024-04-19%20145222.png');
    background-size: cover; 
    background-position: center; 
    padding: 300px 200px; 
    width: 130px; 
    float: left; 
    margin-top: 150px; 
    margin-right: 50px; 
    border-radius: 10px; 
    text-align: center; 
    text-decoration: none; 
    color: black;
    font-size: 50px 
}

.FL-box {
    background-image: url('https://raw.githubusercontent.com/Andengy/Images/main/Screenshot%202024-04-19%20145342.png');
     background-size: cover; 
    background-position: center; 
    padding: 300px 200px; 
    width: 130px;
    float: left; 
    margin-top: 150px; 
    margin-right: 50px; 
    border-radius: 10px; 
    text-align: center; 
    text-decoration: none; 
    color: white;
    font-size: 50px
}

.FL-box {
    margin-left: auto; 
    margin-right: 0; 
}

/* Asked chatgpt for effect to assist with hovering over icon */
nav ul li a:hover {
    border: 5px solid rgb(252 252 252); 
    transition: border 0.1s cubic-bezier(0.25, 0.1, 0.26, 1.42); 
    cursor: pointer; 
}
.FW-box:hover,
.RPS-box:hover,
.FL-box:hover {
    border: 30px solid rgb(252 252 252); 
    transition: border 0.3s ease; 
    cursor: pointer; 
}


/* CSS for the social page in footer */ 

footer {
    background-color: beige;
    padding: 20px;
}
